:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.blinking-bar::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #fff;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@font-face {
  font-family: 'font-letter';
  src: url('./assets/fonts/Inconsolata_Condensed-SemiBold.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
.letters {
  font-family: font-letter;
}

#inputTyping {
  font-family: font-letter;
  background: none;
  color: #fff;
  font-size: 30px;
  outline: none;
  border: 2px #fff solid;
  padding: 1px 10px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
@keyframes shake {
  0%,
  100% {
    transform: rotateZ(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotateZ(2deg);
  }
  20%,
  40%,
  60%,
  80% {
    transform: rotateZ(-2deg);
  }
}
@keyframes kill {
  0% {
    transform: scaleY(100%);
  }
  100% {
    transform: scaleY(0);
  }
}

.kill {
  animation: kill 0.5s ease-in-out;
}

.word {
  position: absolute;
  left: 100%;
  font-size: 50px;
  width: max-content;
  padding: 0.75rem;
  margin: auto;
  background: #1a1a1a;
  border: 2px solid #ffffff00;
  color: #575757;
  box-shadow: 0 0px 10px 0px #ffffff00;
}

.wordSelect {
  opacity: 1;
  border: 2px solid #ffffff;
  box-shadow: 0 0px 10px 0px #ffffff;
  color: #717171;
  background: #313131;
}
.diagonal-stripes {
  background: repeating-linear-gradient(
    45deg,
    yellow,
    yellow 30px,
    black 30px,
    black 60px
  );
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
